:root {
  // Font-family
  --font-family: "Montserrat", sans-serif;

  // Font-size
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-ml: 18px;
  --font-lg: 24px;
  --font-lg2: 28px;
  --font-xl: 46px;
  --font-xxl: 55px;
}
