.header-container {
  background-color: var(--color1);
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  .header {
    display: flex;
    width: 80%;
    max-width: 950px;
    img {
      max-width: 52px;
      height: auto;
      padding-right: 20px;
      cursor: pointer;
    }
    .input-search {
      width: 90%;
    }
  }
}
