.header-container {
  background-color: var(--color1);
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    img{
      max-width: 52px;
      height: auto;
      padding-right: 20px;
    }
    .input-search{
      width: 90%;
    }
  }
}
