.item-list-container {
  display: flex;
  background-color: var(--color5);
  justify-content: space-between;
  .item-info {
    padding: 16px 0;
    display: flex;
    .info-description {
      padding-top: 42px;
      .price {
        font-size: var(--font-lg);
        margin-bottom: 32px;
      }
      .title {
        font-size: var(--font-ml);
      }
    }
    .item-img {
      margin: 16px;
      border-radius: 4px;
      img {
        object-fit: contain;
        width: 180px;
        height: 180px;
      }
    }
  }
  .item-location {
    padding: 60px 80px 0 0;
    .state-name {
      font-size: var(--font-xs);
    }
  }
}
